// Backgrounds

$background-modern: #141414;
$background-webkit: #141414;
$background-fallback: #141414;

$background-container: #2d2d2d;
$background-container-darker: #282828;

// Fonts & Text

$font-title: 'Gugi', cursive;
$font-subject: 'Gugi', cursive;
$font-base: 'Roboto', sans-serif;

$color-base: white;
$color-hover: #7F7F7F;
