@import 'variables';

body {
  color: $color-base;
  font-family: $font-base;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: $background-fallback;  /* fallback for old browsers */
  background: $background-webkit;    /* Chrome 10-25, Safari 5.1-6 */
  background: $background-modern;    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1, h2 {
  font-family: $font-title;
}

h1 {
  font-size: 75px;
  padding-top: 45px;
  margin-bottom: 0;
}

h2 {
  font-size: 50px;
}

header {
  margin-top: 60px;
}

footer {
  padding: 30px 0 20px 0;
  margin-bottom: 60px;
}

a {
  color: $color-base;
  text-decoration: underline;
}

a:hover {
  color: $color-hover;
}

img {
  width: 100%;
}

figcaption {
  margin-bottom: .8em;
}

.container {
  // background: $background-container;
  padding: 0 75px;
}

.btn-findme {
  font-size: 52px;
  padding: 20px 55px 0;
}

.btn-findme:hover {
  color: $color-hover;
}

.subject {
  font-family: $font-subject;
  font-size: 47px;
  margin-bottom: 25px;
}

.project {
  border-radius: 20px;
  padding-bottom: 10px;
}

.title {
  padding-bottom: 15px;
  margin-top: 15vh;
}

.self {
  display: block;
  margin: auto;
  max-width: 400px;
  max-height: 400px;
}

.bio {
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 15px;
}

.skills {
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 15px;
}

.projects {
  font-size: 20px;
  padding-top: 30px;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); // Center the video
  min-width: 100%;
  min-height: 100%;
  object-fit: cover; // Ensure the video fills the screen without distortion
  width: 100%;
  height: 100%;
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding: 20px;
  visibility: hidden;
}