// Backgrounds

$background-modern: linear-gradient(to right, #318031, #2c459e);
$background-webkit: -webkit-linear-gradient(to right, #318031, #2c459e);
$background-fallback: #283c86;

// $background-container: rgba(20, 20, 20, 0.5);
$background-container: #123a2d;

// Fonts & Text

$font-title: 'Fredoka One', cursive;
$font-subject: 'Sniglet', cursive;
$font-base: 'Hind', sans-serif;

$color-base: white;
$color-hover: #7F7F7F;
