body {
    background-color: black;
    color: white;
}

.container {
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding-top: 30px;
    padding-bottom: 30px;
}

header {
    background-color: #282828;
    border-top: 1px solid white;
    border-bottom: 1px dashed white;
    margin-top: 60px;
}

#name {
    font-size: 61px;
}

#title {
    font-size: 30px;
}

.btn-custom {
    color: white;
    font-size: 43px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 20px;
}

.btn-custom:hover {
    color: #7F7F7F;
}

#bio {
    color: white;
    background-color: #282828;
    padding-left: 60px;
    padding-right: 60px;
    border-bottom: 1px dashed white;
}

.subject {
    margin-top: 15px;
    margin-bottom: 25px;
}

.text-md {
    font-size: 120%;
}

#portfolio {
    background-color: #282828;
    color: white;
    padding-left: 60px;
    padding-right: 60px;
}

.img-thumbnail {
    background-color: transparent;
}

footer {
    color: white;
    background-color: #282828;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    margin-bottom: 60px;
}
